<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="IoTHubName" value="SitecoreIoTDemo" />
      <add key="SharedAccessKey" value="/OnIbioBToNwd307A5+xrU+EyiQLwzcctEIOiKCbohI=" />
      
      <add key="IotDeviceName" value="beau-Duino"/>
      <add key="IotDeviceKey" value="n5NR+pHWeEXN3IV0+acWoa72AtnRibSnYKKaHbgDMn4="/>

      <add key="SharedAccessKeyName" value="iothubowner" />
      <add key="IotHubEndpoint" value="messages/events"/>
      <add key="ConnectionStringFormat" value="HostName={0}.azure-devices.net;SharedAccessKeyName={1};SharedAccessKey={2}"/>
      <add key="UriStringFormat" value="{0}.azure-devices.net"/>
   </appSettings>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
   </startup>
</configuration>
